body {
    font-family: sans-serif;
}



footer{
    background-color:#1D1AB2;
    color: white;
    padding: 20px;
    font-size: 30px;

}







.i1{
    width: 167px;
    height: 151px;
}





h1{
    text-align: center;
    font-size: 40px;
}




.i2:hover{
    box-shadow: 10px 10px 10px 10px black;
    transition: all 1s linear;
} 

.i3:hover{
    box-shadow: 10px 10px 10px 10px rgb(137, 137, 137);
    transition: all 1s linear;
}

.i4:hover{
    box-shadow: 10px 10px 10px 10px black;
    transition: all 1s linear;
}


.i5:hover {
    box-shadow: 10px 10px 10px 10px black;
    transition: all 1s linear;
}















































































































main{
    font-size: 30px;
    
    
}













































header{
    background-color: #1D1AB2;
    color: white;
    padding: 20px;
}



























































































































































































































































































































































































































































































































































































































































































































































































































































































































































































.link-header{
    background-color: #FFDD73;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    
    display: inline-flex;
    justify-content: flex-end;
    float: right;
    margin-top: 50px;
    margin: 50px;
    
}
.link-header:hover{
    background-color: white;
    transition: all 0.5s linear;
    color: black;
}
